footer {
    grid-area: footer;
    margin-top: auto;
    width: 100%;
    height: auto;
    background-color: $mav-footer-color;
}
footer section {
    display: flex;
    width: 100%;
    align-items: center;
}
.footer__left {
    justify-content: space-around;
}
.footer__left p  {
    color: #e1d3bb;
    font-size: 12px;
    font-weight: 500;
    margin: 20px;
}
.footer__social--container {
    margin: 10px 10px;
}
.footer__right a {
    text-decoration: none;
    margin: 10px;
} 
.footer__right a img {
    transition: all 0.5s;
}
.footer__right a img:hover {
    transform: scale(1.2, 1.3);
}
