/* Media Queries Bootstrap*/

@media (min-width: 320px) {
    #body, body {
      background-color: $background-color;
      width: 100%;
    }
    .navbar-collapse ul{
      display: block;
      text-align: center;
    }
    .main__info--container {
        margin-top: 80px;
    }
    .biography_section--container {
        margin-top: 80px;
    }
    /*tour*/

    .tour__img {
        height: 60px;
        width: auto;
    }
    .tour__date {
        @include wh-standar;
        font-family: 'PT Serif', serif;
    }
    .date {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .date__container {
        background-color: rgba(211,194,154,.3);
        width: 70px;
        height: 70px;
    }
    .date__container span {
        display: flex;
        justify-content: center;
        color: $cream;
        font-weight: 900;
        text-align: center;
        text-transform: none;
    }
    .month {
        padding-top: 10px;
        font-size: 16px;
        line-height: 1;
    }
    .day {
        font-size: 25px;
        line-height: 1;
        margin-top: 5px;
    }
    /*videos*/

    .main--videos-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    }
    .videos__section {
        margin: 0 20px;
        height: fit-content;
    }
    /*footer*/

    footer {
        display: block;
    }
    .footer__right {
        justify-content: center;
    }
}

@media (min-width: 465px) {}


@media (min-width: 768px) {
    
    .tour__img {
        height: 90px;
        width: auto;
    }
    .tour__date {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    #body {
        background-image: url('../assets/img/3200x1800_edited.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: top; 
    }
    .nav-item a {
        margin-left: 60px;
    }
    .navbar-collapse ul {
        background-color: transparent; 
        display: flex;
    }
    .main__info--container {
        margin-top: 120px;
    }
    .biography_section--container {
        width: 100%;
        margin-top: 150px;
        padding: 30px;
        text-align: left;
    }
    .card-body {
       display: grid;
       grid-template-columns: 50% 50%;
       grid-template-rows: auto;
       justify-content: center;
       align-items: center;
       align-content: center;
    }
    /*videos*/
    .videos__section {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        row-gap: 40px;
        column-gap: 60px;
       justify-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: center;
    }
    footer {
        display: flex;
        height: 60px;
    }
    .footer__right {
        justify-content: end;
    }
    .footer__right a {
        padding-right: 50px;
    } 
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {}


