.main--videos-section {
    @include wh-standar;
    margin-top: 50px;
    text-align: center;
    .main--videos-container  {
        .title__performance {
            display: flex;
            justify-content: center;
            padding: 30px 0;
            margin-top: 30px;
                .video_title {
                color: $cream;
                font-size: 3rem;
                font-style: italic;
                font-weight: 700;
                margin-bottom: 5px;
                font-family: 'Tangerine', cursive;
           }
       }
        .videos__section {
            a {
                color: $cream;
                text-decoration: none;
                transition: all 1s;
                &:hover {
                    transform: scale(1.1, 1.1);
               }
                p {
                    margin-top: 10px;
                    &:visited {
                        color: $cream;
                   }
               }
           }
           iframe {
                transition: all 1s;
                &:hover {
                    transform: scale(1.1, 1.1);
               }
           }   
       }
       button {
        @extend .general-btn;
       }
   }
   .fotos_container {
        @include wh-standar;
        margin-top: 50px;
   }
}


