@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
.navbar {
  background-color: #7f644a;
  height: 60px;
}
.navbar .container-fluid {
  background-color: #7f644a;
}
.navbar .container-fluid ul {
  padding-bottom: 10px;
}
.navbar .container-fluid ul a {
  font-family: "PT Serif", serif;
  font-size: 17px;
  margin-top: 10px;
  margin-right: 20px;
  color: #e1d3bb;
  transition: all 1s;
}
.navbar .container-fluid ul a:hover {
  transform: scale(1.2, 1.3);
  color: #8D6E51;
}
.navbar .navbar__img {
  height: 55px;
  transition: all 1s;
}
.navbar .navbar__img:hover {
  transform: scale(1.1, 1.1);
}

/* Media Queries Bootstrap*/
@media (min-width: 320px) {
  #body, body {
    background-color: #8D6E51;
    width: 100%;
  }

  .navbar-collapse ul {
    display: block;
    text-align: center;
  }

  .main__info--container {
    margin-top: 80px;
  }

  .biography_section--container {
    margin-top: 80px;
  }

  /*tour*/
  .tour__img {
    height: 60px;
    width: auto;
  }

  .tour__date {
    width: 100%;
    height: auto;
    font-family: "PT Serif", serif;
    display: block;
  }

  .date {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .date__container {
    background-color: rgba(211, 194, 154, 0.3);
    width: 70px;
    height: 70px;
  }

  .date__container span {
    display: flex;
    justify-content: center;
    color: #e1d3bb;
    font-weight: 900;
    text-align: center;
    text-transform: none;
  }

  .month {
    padding-top: 10px;
    font-size: 16px;
    line-height: 1;
  }

  .day {
    font-size: 25px;
    line-height: 1;
    margin-top: 5px;
  }

  /*videos*/
  .main--videos-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
  }

  .videos__section {
    margin: 0 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  /*footer*/
  footer {
    display: block;
  }

  .footer__right {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .tour__img {
    height: 90px;
    width: auto;
  }

  .tour__date {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  #body {
    background-image: url("../assets/img/3200x1800_edited .jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: top; */
    height: 100px;
  }

  .nav-item a {
    margin-left: 60px;
  }

  .navbar-collapse ul {
    background-color: transparent;
    display: flex;
  }

  .main__info--container {
    margin-top: 120px;
  }

  .biography_section--container {
    width: 100%;
    margin-top: 150px;
    padding: 30px;
    text-align: left;
  }

  .card-body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  /*videos*/
  .videos__section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 40px;
    -moz-column-gap: 60px;
         column-gap: 60px;
    justify-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
  }

  footer {
    display: flex;
    height: 60px;
  }

  .footer__right {
    justify-content: end;
  }

  .footer__right a {
    padding-right: 50px;
  }
}
/*Map*/
.main__info--container {
  padding: 30px;
  text-align: center;
}
.main__info--container .info__img--container img {
  height: 70px;
  width: auto;
  transition: all 1s;
}
.main__info--container .info__img--container img:hover {
  transform: skew(20deg);
}
.main__info--container .info__text--container {
  color: #fff;
}
.main__info--container .info__text--container p {
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
  padding-bottom: 20px;
  text-align: center;
}

.biography_section--container .subtitle {
  margin-top: 40px;
  background-color: #674f3b;
  margin-bottom: 20px;
  margin: 30px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
}
.biography_section--container .subtitle h2 {
  font-family: "PT Serif", serif;
  font-style: italic;
  color: #e1d3bb;
  font-size: 24px;
  font-weight: 500;
}
.biography_section--container .paragraph p {
  padding-bottom: 20px;
  padding: 10px 20px;
  font-family: "PT Serif", serif;
  font-style: italic;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
}

.card_row {
  margin: 20px;
  padding: 0 30px;
  font-family: "PT Serif", serif;
  font-style: italic;
}
.card_row .album-title {
  letter-spacing: 0.2rem;
  text-indent: 0.1rem;
  font-size: 20px;
  color: #674f3b;
  font-weight: 900;
  line-height: 1;
}
.card_row .card-text {
  color: #8D6E51;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}
.card_row .imagen {
  justify-self: end;
  align-self: center;
  text-align: center;
  color: #e1d3bb;
  transition: all 1s;
}
.card_row .imagen:hover {
  transform: scale(1.1, 1.1);
}
.card_row .imagen img {
  box-shadow: 5px 3px 4px #674f3b;
}
.card_row .imagen p {
  margin-top: 10px;
  color: #8D6E51;
  font-weight: 500;
}

.tour__section--container {
  width: 100%;
  height: auto;
  text-align: center;
}
.tour__section--container .tour__img--container {
  display: flex;
  justify-content: center;
}
.tour__section--container .tour__img--container .tour__img {
  margin-top: 20px;
  margin-bottom: 80px;
  transition: all 1s;
}
.tour__section--container .tour__img--container .tour__img:hover {
  transform: scale(1.1, 1.1);
}
.tour__section--container .tour__dates--container .place__container {
  margin-top: 20px;
}
.tour__section--container .tour__dates--container .place__container .place__title {
  color: #e1d3bb;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 5px;
}
.tour__section--container .tour__dates--container .place__container .country {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0.1rem;
}
.tour__section--container .tour__dates--container .tickets__container {
  margin-bottom: 30px;
}
.tour__section--container .tour__dates--container .tickets__container a {
  text-decoration: none;
}
.tour__section--container .tour__dates--container .tickets__container a .sold__out {
  color: red;
  font-style: italic;
  text-decoration: line-through;
  transition: all 1s;
}
.tour__section--container .tour__dates--container .tickets__container a .sold__out:hover {
  transform: scale(1.1, 1.1);
}
.tour__section--container .tour__dates--container .tickets__container a .tickets {
  color: #e1d3bb;
  font-style: italic;
  transition: all 1s;
}
.tour__section--container .tour__dates--container .tickets__container a .tickets:hover {
  transform: scale(1.1, 1.1);
}

.main--videos-section {
  width: 100%;
  height: auto;
  margin-top: 50px;
  text-align: center;
}
.main--videos-section .main--videos-container .title__performance .video_title {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin-top: 30px;
  color: #e1d3bb;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Tangerine", cursive;
}
.main--videos-section .main--videos-container .videos__section a {
  color: #e1d3bb;
  text-decoration: none;
  transition: all 1s;
}
.main--videos-section .main--videos-container .videos__section a:hover {
  transform: scale(1.1, 1.1);
}
.main--videos-section .main--videos-container .videos__section a p {
  margin-top: 10px;
}
.main--videos-section .main--videos-container .videos__section a p:visited {
  color: #e1d3bb;
}
.main--videos-section .main--videos-container .videos__section iframe {
  transition: all 1s;
}
.main--videos-section .main--videos-container .videos__section iframe:hover {
  transform: scale(1.1, 1.1);
}
.main--videos-section .fotos_container {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.main--videos-section .fotos_container .video_title {
  color: #e1d3bb;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Tangerine", cursive;
}

.main__store--container {
  width: 100%;
  height: auto;
}
.main__store--container .row .product_container {
  display: flex;
  display: block;
  width: 100%;
  height: auto;
  justify-content: center;
  margin: 20px 0;
}
.main__store--container .row .product_container .img_container {
  width: 100%;
  height: auto;
}
.main__store--container .row .product_container .img_container img {
  width: 250px;
}
.main__store--container .row .product_container .text_container h2 {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 26px;
  text-align: left;
  padding-left: 40px;
  font-weight: 500;
  color: #e1d3bb;
}
.main__store--container .row .product_container .text_container a {
  text-decoration: none;
}
.main__store--container .row .product_container .text_container a p {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 18px;
  text-align: left;
  padding-left: 40px;
  color: rgb(192, 179, 152);
  font-weight: 600;
}
.main__store--container .button_container {
  display: flex;
  width: 100%;
  height: auto;
  margin: 10px 10px;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.main__store--container .button_container a {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  color: #e1d3bb;
  width: 150px;
  height: 40px;
  border: 2px solid rgb(192, 179, 152);
  padding-top: 5px;
  transition: all 1s;
}
.main__store--container .button_container a:hover {
  background-color: rgb(192, 179, 152);
  color: #fff;
}

.main--form-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
}
.main--form-container .main--form {
  background-color: #fff;
  width: 90%;
  height: auto;
  margin-top: 20px;
}
.main--form-container .main--form .form_title--container {
  margin-top: 30px;
}
.main--form-container .main--form .form_title--container .form_title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 1rem;
  text-indent: 0.8rem;
  padding: 2px;
  font-family: "PT Serif", serif;
  font-style: italic;
  color: #674f3b;
  font-weight: 900;
  line-height: 1;
}
.main--form-container .main--form .form_item {
  display: grid;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
.main--form-container .main--form .form_item::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 10px;
  height: 2px;
  background-color: #e1d3bb;
}
.main--form-container .main--form .form_item .campos {
  border: 0;
  color: #e1d3bb;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  width: 250px;
  margin-top: 15px;
  text-align: left;
  font-family: "PT Serif", serif;
  font-style: italic;
}
.main--form-container .main--form .form_item input {
  margin-top: 15px;
  text-transform: uppercase;
  border: 0;
  font-style: italic;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  width: 250px;
  display: block;
  margin-top: 15px;
  transition: all 1s;
}
.main--form-container .main--form .form_item input:hover {
  transform: scale(1.1, 1.1);
}
.main--form-container .main--form .form_item span {
  color: red;
  display: inline-block;
}
.main--form-container .main--form .select-country {
  margin-top: 30px;
}
.main--form-container .main--form .select-country .form_item--pais {
  display: grid;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
.main--form-container .main--form .select-country .form_item--pais select {
  display: block;
  margin-top: 15px;
  border: 0;
  color: #674f3b;
  background-color: #e1d3bb;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 2px;
  width: 250px;
  font-size: 16px;
  box-shadow: 5px 3px 4px #674f3b;
  height: 40px;
  transition: all 1s;
}
.main--form-container .main--form .select-country .form_item--pais select:hover {
  color: #e1d3bb;
  background-color: #674f3b;
  transform: scale(1.1, 1.1);
}
.main--form-container .main--form .form_item--noticias {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 40px;
  text-align: center;
  justify-items: center;
  margin-left: 10px;
}
.main--form-container .main--form .form_item--noticias .noticias {
  color: #e1d3bb;
  text-transform: uppercase;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 10px 0;
  text-align: center;
}
.main--form-container .main--form .form_item--noticias .span_billie {
  color: #8D6E51;
  font-weight: 700;
}
.main--form-container .main--form .comment p {
  color: #e1d3bb;
  text-transform: uppercase;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 20px 0;
  text-align: center;
}
.main--form-container .main--form .comment textarea {
  margin-top: 10px;
  height: auto;
  border: 0;
  background-color: #e1d3bb;
  transition: all 1s;
}
.main--form-container .main--form .comment textarea:hover {
  transform: scale(1, 1.1);
}
.main--form-container .main--form .comment label {
  color: #674f3b;
  font-family: "PT Serif", serif;
  font-style: italic;
  text-transform: uppercase;
  font-size: 14px;
  transform: scale(1.1, 1.1);
}
.main--form-container .main--form .button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 10px;
}
.main--form-container .main--form .button .btn_form {
  width: 100px;
  height: 30px;
  background-color: #674f3b;
  color: #e1d3bb;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  border-radius: 8px;
  border: #e1d3bb;
  box-shadow: 5px 3px 4px #674f3b;
  margin: 10px;
}
.main--form-container .main--form .button .btn_form:hover {
  color: #674f3b;
  background-color: #e1d3bb;
  font-weight: 600;
}

footer {
  grid-area: footer;
  margin-top: auto;
  width: 100%;
  height: auto;
  background-color: #7f644a;
}

footer section {
  display: flex;
  width: 100%;
  align-items: center;
}

.footer__left {
  justify-content: space-around;
}

.footer__left p {
  color: #e1d3bb;
  font-size: 12px;
  font-weight: 500;
  margin: 20px;
}

.footer__social--container {
  margin: 10px 10px;
}

.footer__right a {
  text-decoration: none;
  margin: 10px;
}

.footer__right a img {
  transition: all 0.5s;
}

.footer__right a img:hover {
  transform: scale(1.2, 1.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*ESTILOS GENERALES*/
html {
  font-size: 62, 5%;
  scroll-behavior: smooth;
}

#body {
  font-family: "PT Serif", serif;
}

body {
  background-color: #8D6E51;
  height: 100vh;
  width: 100%;
  font-family: "PT Serif", serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 10%;
  grid-template-areas: "header" "main" "footer";
  overflow: scroll;
}

.bodycolor {
  background-color: #8D6E51;
}

#main {
  height: auto;
  display: grid;
}

main {
  grid-area: main;
}

header {
  grid-area: header;
}

/*botones generales*/
.general-btn, .main--videos-section .main--videos-container button {
  margin-bottom: 20px;
  width: 90px;
  height: 30px;
  background-color: #674f3b;
  color: #e1d3bb;
  font-size: 13px;
  font-family: "PT Serif", serif;
  font-weight: 500;
  border-radius: 8px;
  border: #e1d3bb;
  box-shadow: 5px 3px 4px #674f3b;
  transition: all 1s;
}
.general-btn:hover, .main--videos-section .main--videos-container button:hover {
  color: #674f3b;
  background-color: #e1d3bb;
  transform: scale(1.2, 1.3);
}

/*titulos generales*/
.title-dicography-container, .tour__title--container, .title__videos--container, .title-biography-container, .form_title--container, .store-title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 90px;
}
.title-dicography-container .title, .tour__title--container .title, .title__videos--container .title, .title-biography-container .title, .form_title--container .title, .store-title-container .title {
  font-family: "PT Serif", serif;
  font-size: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #8D6E51;
  background-color: #e1d3bb;
  letter-spacing: 1rem;
  text-indent: 0.8rem;
  font-weight: 900;
  line-height: 1;
  height: 27px;
  padding: 2px;
}/*# sourceMappingURL=style.css.map */