@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*ESTILOS GENERALES*/
html {
    font-size: 62,5%;
    scroll-behavior:smooth;
}  
#body {
    font-family: 'PT Serif', serif;
    height: 100vh;
    width: 100%;
}
body {
    height: 100vh;
    width: 100%;
    font-family: 'PT Serif', serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 10%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    overflow: auto;
    background-image: url('../assets/img/imgfondo.jpg');
}
#main {
    height: auto;
    display: grid;
}
main {
    grid-area: main;
}

header {
    grid-area: header;
}

/*NAV*/
.nav-item a {
    font-family: 'PT Serif', serif;
    font-size: 17px;
    margin-top: 10px;
    margin-right: 20px;
    color: #e1d3bb;
    transition: all 1s;
}
.nav-item a:hover {
    transform: scale(1.2, 1.3);
    color: #8D6E51;
}
.navbar__img {
    height: 55px;
    transition: all 1s;
}
.navbar__img:hover {
    transform: scale(1.1, 1.1);
}

/*HOME*/
.main__info--container {
    padding: 30px;
    text-align: center;
}
.info__img--container img {
    height: 70px;
    width: auto;
    transition: all 1s;
}
.info__img--container img:hover {
    transform: skew(20deg);
}
.info__text--container {
    color: #fff;
}
.info__text--container p {
    color: rgb(239, 239, 239);
    font-size: 18px;
    line-height: 1.8;
    padding-bottom: 20px;
    text-align: center;
}
.general-btn {
    margin-bottom: 20px;
    width: 90px;
    height: 30px;
    background-color: #674f3b;
    color: #e1d3bb;
    font-size: 15px; 
    font-family: 'PT Serif', serif;
    font-weight: 500;
    border-radius: 8px;
    border: #e1d3bb;
    box-shadow: 5px 3px 4px #674f3b;
    transition: all 1s;
}
.general-btn:hover {
    color: #674f3b;
    background-color: #e1d3bb;
    transform: scale(1.2, 1.3);
}
.title {
    font-size: 24px;
    font-family: 'PT Serif', serif;
    width: auto;
    color: #8D6E51;
    background-color: #e1d3bb;
    letter-spacing: 1rem;
    text-indent: 0.8rem;
    font-weight: 900;
    line-height: 1;
    height: 27px;
    padding: 2px; 
}
/*MUSIC*/

.main--discography-container, .tour__section--container, .title__videos--container {
     margin-top: 100px;
 }
.title-dicography-container, .tour__title--container, .title__videos--container, .form_title--container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card_row {
    margin: 20px;
    padding: 0 30px;
    font-family: 'PT Serif', serif;
}
.album-title {
    color: #674f3b;
    font-family: 'PT Serif', serif;
    letter-spacing: 0.2rem;
    text-indent: 0.1rem;
    font-weight: 900;
    line-height: 1;
    font-style: italic;
    font-size: 20px;
}
.card-text {
    color: #8D6E51;
    font-weight: 500;
    font-style: italic;
    font-size: 17px;
    text-align: left;
}
.imagen {
    justify-self: end;
    align-self: center;
    text-align: center;
    color: #e1d3bb;
    transition: all 1s;
}
.imagen:hover {
    transform: scale(1.1, 1.1);
}
.imagen img {
     box-shadow: 5px 3px 4px #674f3b;
}
.imagen p {
    margin-top: 10px;
    margin-bottom: 0;
}
figure p {
    margin: 0;
    color: #8D6E51;
    font-weight: 500;
}

/*TOUR*/
.tour__section--container {
    width: 100%;
    height: auto;
    text-align: center;
}
.tour__img--container {
    display: flex;
    justify-content: center;
}
.tour__img {
    margin-top: 20px;
    margin-bottom: 80px;
}
.place__container {
    margin-top: 20px;
}
.place__title {
    color: #e1d3bb;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 5px;
}
.country {
    color: #fff;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.1rem;
}
.tickets__container {
    margin-bottom: 30px;
}
.sold__out {
    color: rgb(205, 16, 16);
    font-style: italic;
    text-decoration: line-through;
}
/*VIDEOS*/
.main--videos-section {
    width: 100%;
    height: auto;
    margin-top: 50px;
    text-align: center;
    /*margin-top: 50px;*/
}
.title__performance {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin-top: 30px;
}
.video_title {
    color: #e1d3bb;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Tangerine', cursive;
}
.main--videos-container .general-btn {
    justify-self: center;
    margin: 40px 0;
}
.videos__section a {
    color: #e1d3bb;
    text-decoration: none;
    transition: all 1s;
}
.videos__section a:hover {
    transform: scale(1.1, 1.1);
}
.videos__section a p {
    margin-top: 10px;
}
.videos__section a:visited {
    color: #e1d3bb;
} 
.videos__section iframe{
    transition: all 1s;
}
.videos__section iframe:hover {
    transform: scale(1.1, 1.1);
}
.fotos_container {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

/*SIGN UP*/

.main--form-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}
.main--form {
    background-color: #fff;
    width: 90%;
    height: auto;
}
.form_title--container {
    margin-top: 30px;
}
.form_title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #8D6E51;
    letter-spacing: 1rem;
    text-indent: 0.8rem;
    font-weight: 900;
    line-height: 1;
    padding: 2px; 
    font-style: italic;
    font-family: 'PT Serif', serif;
}
.campos {
    border: 0;
    color: #e1d3bb;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    width: 250px;
    margin-top: 15px;
    text-align: left;
}
.input_item {
    border: 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    width: 250px;
    display: block;
    margin-top: 15px;
}
input {
    margin-top: 15px;
}
::placeholder {
    color: rgb(175, 175, 175);
}
select {
    display: block;
    margin-top: 15px;
    border: 0;
    color: #e1d3bb;
    appearance: none; 
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    width: 250px;
}
span {
    color: red;
    display: inline-block;
}
.form_item, .form_item--pais{
    display: grid;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}
.select-country {
    margin-top: 30px;
}
.form_item::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 2px;
    background-color: #e1d3bb;
}
.form_item--pais .form-select {
    background-color: #e1d3bb;
    color: #674f3b;
    font-size: 16px;
    font-style: italic;
    font-family: 'PT Serif', serif;
    box-shadow: 5px 3px 4px #674f3b;
    height: 40px;
}
.form_item--noticias {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 40px;
    text-align: center;
    justify-items: center;
}
.noticias {
    color: #e1d3bb;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 10px 0;
    text-align: center;
}
.span_billie {
    color: #af976d;
    font-weight: 700;
}
.comment p {
    color: #e1d3bb;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 20px 0;
    text-align: center;
}
.comentarios textarea {
    margin-top: 10px;
    height: auto;
    border: 0;
    background-color: #e1d3bb;
    margin-left: 10px;
}
.comentarios label {
    color: #674f3b;
    font-style: italic;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 10px;
}
.button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}
.btn_form {
    width: 100px;
    height: 30px;
    background-color: #674f3b;
    color: #e1d3bb;
    font-size: 12px; 
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    border-radius: 8px;
    border: #e1d3bb;
    box-shadow: 5px 3px 4px #674f3b;
    margin: 10px;
}
.btn_form:hover {
    color: #674f3b;
    background-color: #e1d3bb;
    font-weight: 600;
}

/*FOOTER*/

footer {
    grid-area: footer;
    margin-top: auto;
    width: 100%;
    height: auto;
    background-color: #8D6E51;
}
footer section {
    display: flex;
    width: 100%;
    align-items: center;
}
.footer__left {
    justify-content: space-around;
}
.footer__left p  {
    color: #e1d3bb;
    font-size: 12px;
    font-weight: 500;
    margin: 20px;
}
.footer__social--container {
    margin: 10px 10px;
}
.footer__right a {
    text-decoration: none;
    margin: 10px;
} 
.footer__right a img {
    transition: all 0.5s;
}
.footer__right a img:hover {
    transform: scale(1.2, 1.3);
}


/* Media Queries Bootstrap*/

@media (min-width: 320px) {
    #body, body {
      background-color: #8D6E51;
      width: 100%;
    }
    .navbar-collapse ul{
      background-color: #8D6E51;
      display: block;
      text-align: center;
    }
    .main__info--container {
        margin-top: 50px;
    }
    /*tour*/

    .tour__img {
        height: 60px;
        width: auto;
    }
    .tour__date {
        width: 100%;
        height: auto;
        font-family: 'PT Serif', serif;
    }
    .date {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .date__container {
        background-color: rgba(211,194,154,.3);
        width: 70px;
        height: 70px;
    }
    .date__container span {
        display: flex;
        justify-content: center;
        color: #e1d3bb;
        font-weight: 900;
        text-align: center;
        text-transform: none;
    }
    .month {
        padding-top: 10px;
        font-size: 16px;
        line-height: 1;
    }
    .day {
        font-size: 25px;
        line-height: 1;
        margin-top: 5px;
    }
    /*videos*/

    .main--videos-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    /*margin: 70px;*/
    }
    .videos__section {
        margin: 0 20px;
        height: fit-content;
    }
    /*footer*/

    footer {
        display: block;
    }
    .footer__right {
        justify-content: center;
    }
}

@media (min-width: 465px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .tour__img {
        height: 90px;
        width: auto;
    }
    .tour__date {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    #body {
        background-image: url('../assets/img/3200x1800_edited.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: top; 
    }
    .nav-item a {
        margin-left: 60px;
    }
    .navbar-collapse ul {
        background-color: transparent; 
        display: flex;
    }
    .card-body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    }
    /*videos*/
    .videos__section {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        row-gap: 40px;
        column-gap: 60px;
       justify-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: center;
    }
    footer {
        display: flex;
        height: 60px;
    }
    .footer__right {
        justify-content: end;
    }
    .footer__right a {
        padding-right: 50px;
    } 
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {}



/*MOBILE

@media screen and (min-width: 320px) {
    
    /*BARRA DE NAVEGACIÓN*

    #navbar {
       background-color: #8D6E51;
       opacity: 1;
    }
    #navbar .navbar__list {
       display: none;
    }
    #navbar .menu_item {
        align-self: center;
        justify-self: end;
        transition: all 1s;
    }
    #navbar .menu_item:hover {
        transform: scale(1.2, 1.3);
    }
    .menu_item img {
        width: 30px;
        height: 30px;
        margin: 15px 15px;
    }

     /*MAIN SECTION*
   
     .main__info--container {
         margin-top: 40px;
     }
    /*MUSIC*

    .album-item {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        text-align: center;
        margin-top: 20px;
    }
    .album--container {
        align-self: center;
        margin: 30px;
        color: #e1d3bb;
    }

    /*TOUR*

   .tour__img {
       width: auto;
       height: 50px;
   }
    .tour__date {
        display: block;
        width: 100%;
        height: auto;
    }
    .date {
    display: flex;
    justify-content: center;
    align-content: center;
    }
    .date__container {
        background-color: rgba(211,194,154,.3);
        width: 70px;
        height: 70px;
       /* margin: 10px 260px; provisorio*
    }
    .date__container span {
        display: flex;
        justify-content: center;
        color: #e1d3bb;
        font-weight: 900;
        text-align: center;
        text-transform: none;
     }
     .month {
        padding-top: 10px;
        font-size: 16px;
        line-height: 1;
    }
    .day {
        font-size: 25px;
        line-height: 1;
        margin-top: 5px;
    }

    /*VIDEOS*

    .videos__section {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 40px;
       /* justify-items: center;
        margin-top: 40px;
        margin-bottom: 40px;*
        justify-content: center;
    }

    /*SIGN UP*

    .form_campos--container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 40px;
        text-align: left;
        margin-top: 50px;
        justify-content: center;
    }

    /*FOOTER*

    footer {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        background-color: #8D6E51;
    }
    footer section {
        display: flex;
        width: 100%;
        align-content: center;
        align-items: center;
    }
    .footer__left {
        justify-content: center;
    }
    .footer__left p  {
        margin: 20px;
    }
    .footer__social--container {
        margin: 10px 10px;
    }
    .footer__right {
        justify-content: center;
    }
    .footer__right a {
        text-decoration: none;
        margin: 10px;
    } 
}
/*TABLET*
@media screen and (min-width: 600px) {
    .main__info--container {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    /*TOUR*
    .tour__img {
        height: 80px;
    }
    .tour__date {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto;
        grid-template-areas: 
        "date place tickets";
        justify-content: center;
        align-items: center;
     }
     .date__container {
         grid-area: date;
         background-color: rgba(211,194,154,.3);
         width: 90px;
         height: 90px;
         margin: 10px;
         justify-self: end;
     }
     .date__container span {
         display: flex;
         justify-content: center;
         color: #e1d3bb;
         font-weight: 900;
         text-align: center;
         text-transform: none;
      }
      .month {
         font-size: 18px;
         line-height: 1;
         margin-top: 10px;
     }
     .day {
         font-size: 30px;
         line-height: 1;
         margin-top: 5px;
     }
     .place__container {
         grid-area: place;
     }
     footer {
         width: 100%;
     }
}

@media screen and (min-width: 900px) {
    #body {
        background-image: url(../assets/img/3200x1800_edited.jpg);
        background-color: #8D6E51;
        background-size:cover;
        background-position: top; 
        background-repeat: no-repeat;
        height: auto;
    }
    #main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 600px;
        width: 100%;
        height: auto;
        background-color: transparent;
        background-image: none;
    }
    .main__info--container {
        margin-top: 80px;
    }
    #navbar {
        background-color: transparent;
        opacity: 1;
    }
    /*MUSIC SECTION

    .album-item {
        display: grid;
        grid-template-columns: 60% 50%;
        grid-template-rows: 400px;
        grid-template-areas: "album imagen";
        text-align: left;
    }
    .album--container {
        align-self: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .album--container {
       grid-area: album;
    }
    .imagen {
      grid-area: imagen;
    }
    /*TOUR
    .tour__img {
        height: 100px;
    }
    
    /*VIDEOS
    
    .videos__section {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 40px;
       /* justify-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: center;
    }

    /*SIGN UP
    
    .form_campos--container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        text-align: left;
        margin-top: 50px;
    }
    /*FOOTER

    footer {
        position: relative;
        display: flex;
        margin-top: auto;
        width: 100%;
        min-width: 320px;
        height: 80px;
        background-color: #8D6E51;
    }
    footer section {
        display: flex;
        width: 100%;
        align-content: center;
        align-items: center;
    }
    .footer__left {
        justify-content: space-around;
    }
    
    .footer__social--container {
        margin: 10px 10px;
    }
    .footer__right {
        justify-content: end;
    }
    .footer__right a {
        text-decoration: none;
        padding-right: 50px;
    } 
   
}

/*DESKTOP

@media screen and (min-width: 1000px) {
   /* #main {
        overflow: hidden;
    }
    
    #navbar .navbar__list {
        display: flex;
        list-style: none;
        margin-top: 10px;
    }
    #navbar .navbar__list li {
        line-height: 80px;
        padding: 0 50px;
        font-weight: 500;
        transition: all 1s;
    }
    #navbar .navbar__list li:hover {
        transform: scale(1.2, 1.3);
    }
    #navbar .navbar__list li a { 
        color: #e1d3bb;
        font-size: 17px;
        text-decoration: none;
    }
    #navbar .navbar__list li a:hover {
        color: #674f3b;
    }
    #navbar .menu_item {
        display: none;
    }
    
}
*/